<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css" />
		<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
		<link rel="manifest" href="/assets/favicons/site.webmanifest">
	</head>
	<body>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<!-- 
				<li><a href="/about">About</a></li>
				<li><a href="/cv">CV</a></li>
 -->
				<li><a href="/blog">Blog</a></li>
			</ul>
		</nav>
		<div class="container">
			{{ content }}
		</div>
		<!-- /.container -->
		<footer>
			<ul>
				<li>
					<a target="_blank" href="https://twitter.com/vvictorcchan"
						>@vvictorcchan</a
					>
				</li>
				<li>
					<a target="_blank" href="https://github.com/victorzchan"
						>github.com/victorzchan</a
					>
				</li>
				<li>
					<a target="_blank" href="mailto:victor.z.chan@gmail.com">email</a>
				</li>
			</ul>
		</footer>
	</body>
</html>
